@import "src/assets/css/variable";
.my-tabs {
  width: 100%;
  padding: 0 20px;
  height: 60px;
  line-height: 60px;
  border-bottom: 1px solid #eee;
  overflow: hidden;
  ul, .scroll-bar {
    margin: 0 0 -1px 0;
    padding: 0;
    height: 100%;
    overflow-y: hidden;
    overflow-x: scroll;
    white-space: nowrap;
    li {
      display: inline-block;
      height: 100%;
      position: relative;
      margin: 0 16px 0 0;
      padding: 0 16px;
      cursor: pointer;
      overflow: hidden;
      span {
        display: inline-block;
        max-width: 120px;
        padding: 20px 10px 10px 10px;
        line-height: normal;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .hoz-border {
        transition: all .3s;
        margin: auto;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 2px;
        width: 0;
        background: $active-bg;
        overflow: hidden;
      }
      &:last-child {
        margin-right: 0;
      }
      &:hover {
        color: $active-bg;
      }
      &.active {
        .hoz-border {
          width: 100%;
        }
        color: $active-bg;
      }
    }
  }
}
