html {
  --ids-primary-theme: #FFAE36;
  --ids-primary-opacity-theme: rgba(255, 174, 54, 0.8);
  --ids-primary-low-opacity-theme: rgba(255, 174, 54, 0.5);
  --ids-primary-lower-opacity-theme: rgba(255, 174, 54, 0.2);
  --ids-border-raduis: 6px;
}

$s-font-size: 12px;
$n-font-size: 14px;
$nl-font-size: 16px;
$l-font-size: 18px;
$xl-font-size: 20px;
$xxl-font-size: 24px;
$xxxl-font-size: 26px;
$ll-font-size: 30px;
$zl-font-size: 33px;

$theme-bg: #EFF3F5;
$header-bg: #FFFFFF;
$aside-bg: #FFFFFF;
$font-color: #333333;
$active-bg: var(--ids-primary-theme);
$active-bg-opacity: var(--ids-primary-opacity-theme);
$active-bg-low-opacity: var(--ids-primary-low-opacity-theme);
$active-bg-lower-opacity: var(--ids-primary-lower-opacity-theme);
$active-bg-color: #ffffff;
$active-font-color: #FF6D2D;
$orange-bg: rgba(255, 109, 45, 1);
$orange-bg-opacity: rgba(255, 109, 45, .8);
$grey-bg: rgba(113, 126, 132, 1);
$grey-bg-opacity: rgba(113, 126, 132, .8);
$blue-bg: rgba(6, 180, 255, 1);
$blue-bg-opacity: rgba(6, 180, 255, .8);

$border-radius: var(--ids-border-raduis);
