@import "./assets/css/variable";
@import "./assets/css/mixins.scss";

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

:global {
  #app {
    width: 100%;
    height: 100%;
    background: $theme-bg;

    .app-wrap {
      height: 100%;

      .ant-spin-container {
        height: 100%;
      }
    }

    .ant-card-extra {
      padding-top: 0;
      padding-bottom: 0;
    }

    .common-custom-form {
      padding: 20px 40px 0 40px;
    }

    .lang-change-wrap {
      position: fixed;
      bottom: 60px;
      left: 60px;
      z-index: 999;

      & + .lang-change-wrap {
        left: 120px;
      }
    }
  }

  .bf-dropdown ul {
    box-sizing: content-box;
  }

  .idvs-question-card {
    height: calc(100vh - 124px);
    overflow-y: auto;
  }
}

:global(.mr-15) {
  margin-right: 15px;
}

:global(.ant-btn):not(:global(.ant-btn-circle)), :global(.ant-input-search) {
  border-radius: 6px;
}

:global(.ant-btn.ant-btn-yellow) {
  background: $active-bg;
  border-color: $active-bg;

  &:hover, &:focus {
    background: $active-bg-opacity;
    border-color: $active-bg-opacity;
  }
}

:global(.ant-btn.ant-btn-orange) {
  background: $orange-bg;
  border-color: $orange-bg;

  &:hover, &:focus {
    background: $orange-bg-opacity;
    border-color: $orange-bg-opacity;
  }
}

:global(.ant-btn.ant-btn-grey) {
  background: $grey-bg;
  border-color: $grey-bg;

  &:hover, &:focus {
    background: $grey-bg-opacity;
    border-color: $grey-bg-opacity;
  }
}

:global(.ant-btn.ant-btn-blue) {
  background: $blue-bg;
  border-color: $blue-bg;

  &:hover, &:focus {
    background: $blue-bg-opacity;
    border-color: $blue-bg-opacity;
  }
}

:global(.common-popover-list) {
  margin: 0;
  padding: 0;
  width: 90px;
  background: #fff;
  box-shadow: 0px 2px 15px 0px rgba(13, 37, 61, 0.28);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  :global(.common-popover-item) {
    width: 100%;
    height: 40px;
    padding-left: 20px;
    line-height: 40px;
    font-size: $n-font-size;
    font-weight: 400;
    cursor: pointer;

    &:hover {
      background: $active-bg-opacity;
      color: #fff;
    }

    &:not(:last-child) {
      border-bottom: 1px solid rgba(223, 230, 235, 1);
    }
  }
}

:global(.w100) {
  width: 100%;
}

:global {
  .ant-tree-checkbox {
    .ant-tree-checkbox-inner {
      border-radius: 2px;
    }
  }

  .ant-checkbox {
    .ant-checkbox-inner {
      border-radius: 2px;
    }
  }

  .ant-select.ant-select-single {
    &.no-radius {
      .ant-select-selector {
        border-radius: 0;
      }
    }
  }

  .idvs-no-padding {
    .ant-tooltip-inner {
      padding: 0;
    }
  }

  .ant-table-row-expand-icon {
    &.ant-table-row-expand-icon-collapsed, &.ant-table-row-expand-icon-expanded {
      border-radius: 2px;
      top: 4px;
    }
  }
}

:global(.ant-dropdown) {
  z-index: 98;
}

:global(.show-number-step) {
  & > :global(.ant-input-number-handler-wrap) {
    opacity: 1;
  }
}

:global(.group-list) {
  margin: 0;
  padding: 0;
  :global(.group-item) {
    display: flex;
    align-items: center;
    height: 54px;
    padding: 0 25px;
    cursor: pointer;

    &:hover {
      background: $active-bg-low-opacity;
      color: #fff;
    }

    &:global(.active) {
      background: $active-bg;
      color: #fff;
    }

    :global(.group-item-name) {
      flex: 1;
      @include ellipsis;
    }
    :global(.group-item-operation) {
      width: 70px;
      text-align: right;
      & > img:first-child {
        margin-right: 7px;
      }
    }
  }
}
