@import '../../assets/css/variable';

:global(.ant-form).cycle-play-form {
  padding: 20px 40px 0 40px;

  .week-list {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    user-select: none;

    .week-item {
      width: 50px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      background: $grey-bg;
      border-radius: 6px;
      color: #fff;
      cursor: pointer;

      &.active {
        background: $active-bg;
      }
    }
  }
}
